*{
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
}

body{
      text-align: center;
      background-image: url(assets/bg.jpg);
      height: 100%; 
      width: 100%;
      background-position: center;
      background-size: cover;

}

h1{
      font-size: 3rem;
      font-weight: 800;
      font-style: italic;
      font: optional;
}

h2{
      font-size: 2rem;
      font-weight: 800;
      color: rgb(137, 9, 184);
      text-shadow: 3rem solid snow;
}


#friuts{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
}


button{
      padding: 10px 10px 10px 10px;
      padding: 5px;
      margin-bottom: 10px;
      font-family: 'Bebas Neue';
      font-size: 18px;
      background-color: rgb(157, 194, 23);
      border: 3px solid gray;
      color: rgb(0, 0, 0);
}

button:hover{
      padding: 10px 10px 10px 10px;
      padding: 5px;
      margin-bottom: 10px;
      font-family: 'Bebas Neue';
      font-size: 18px;
      background-color: rgb(123, 138, 70);
      border: 3px solid rgb(255, 129, 3);
      color: rgb(0, 0, 0);
}

p{
      background-color: rgb(16, 147, 131);
      color: antiquewhite;
      padding: 5px;
      font-size: x-large;
      font-family: 'Bebas Neue';
}